[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt
